<!DOCTYPE HTML>
<html lang="en">
	
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Meme Low</title>
 	</head>

	<body>
		<div class="container">
			<div class="header" style="width:100%; background:white; height:150px;">

			</div>
			<div class="SiteNameArea" style="position:relative; top:100px; left:23%;">
				<h1 style="font-family:Catull; font-size:135px;">
				<font color="<%=@color[0]%>">M</font><font color="<%=@color[1]%>">e</font><font color="<%=@color[2]%>">m</font><font color="<%=@color[3]%>">e</font><font color="<%=@color[4]%>">L</font><font color="<%=@color[5]%>">a</font><font color="<%=@color[6]%>">w</font>
				</h1>
			</div>

			<div class="Quotes" style="position:absolute; top:41%; left:44.2%;">
				<h3 style="font-family=Catull; font-size:20px;">
					<font color="gray">
						<i>The Google of memes</i>
					</font>
				</h3>
			</div>
			
				<div style="position:absolute; top:50%; left:32%;">
					<div class="row-fluid">
					  	<div class="span4 offset4 text-center">
					    	<form action="/donewsearch" method="post">
								<input class="form-control input-lg" id="inputlg" type="text" name="itemtosearch" size="75" placeholder="What memes are you looking for ?">
								<br>
								<button type="submit" class="btn btn-lg btn-default">
									<span class="glyphicon glyphicon-search" aria-hidden="true">Search</span>
								</button>
							</form>
					  	</div>
					</div>
				</div>
			<!--/div-->
			

		</div>
	</body>
</html>
