<h1>Listing keywords</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Meme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.key %></td>
        <td><%= keyword.meme_id %></td>
        <td><%= link_to 'Show', keyword %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><form action="/delete_keyword/<%= keyword.id %>" method="post"><button>Delete</button></form></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword', new_keyword_path %>
